body{
    background-image: url(konyv_hatter.jpg);
    background-repeat: repeat;
    background-size: 500px 500px;
}

#keret{
    background-color: #CA8;
    border: solid #ECA 3px;
    width: 720px;
    margin: auto;
}

.konyv{
    background-color: #ECA;
    border: solid #432 1px;
    border-radius: 5px;
    margin: 0px 20px 20px 20px;
     box-shadow: 5px 5px 10px #432; 
}

.borito{
    width: 120px;
    float: left;
    border: solid #432 1px;
    margin: 20px 20px 0px 20px;
}

.h2{
    margin-left: 140px;
    font-size:large;
}

.h2nagy{
    margin-left: 140px;
    text-transform: uppercase;
}

p{
    margin-top: 90px;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
}
h1, h2{
    text-align: center;
}
.konyv h2{
    text-align: left;
    text-indent: 20px;
    
}
